---
http_interactions:
- request:
    method: get
    uri: http://api.addresslabs.com/v1/parsed-address?address=1+Apple+Park+Way+Cupertino%2C+CA+95014
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"10f-OI1AU8GDN/uCgP6tNewTnA"
    body:
      encoding: UTF-8
      string: '{"number":"1","street":"Apple Park","street_suffix":"Way","city":"Cupertino","state":"CA","state_fips":"06","zip":"95014","intersection":false,"delivery":{"address_line":"1
        Apple Park Way","last_line":"Cupertino CA  95014"},"input":"1 Apple Park Way
        Cupertino, CA 95014"}'
  recorded_at: Sun, 18 Aug 2024 20:37:30 GMT
recorded_with: VCR 6.2.0
